<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>غريب</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&family=Zain:wght@200;300;400;700;800;900&display=swap" rel="stylesheet">




    
</head>
<body dir="rtl">
    <div class="container">
        <h1>غريب</h1>
        <input type="text" id="search" placeholder="أدخل جذر..." autocomplete="off">
        <!-- Result container directly below the search bar -->
        <ul id="results"></ul>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
